.komentarze-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: #333;
    width: 100%;
    max-width: 700px;
}

.loading {
    padding: 20px;
    text-align: center;
    color: #666;
}