html {
  background-color: #ddbeaa;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
}
.main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ex1 a {
  color: aqua;
}

.ex2 a {
  color: aquamarine;
}

.ex3 a {
  color: chartreuse;
}
